/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

#map {
    width: 90vw;
    height: 70vh;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.pill {
    border-radius: 50px; /* Rundungen für die Pille */
    background-color: #C67F53; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    border: none; /* Entfernt den Standardrahmen */
    padding: 10px 20px; /* Padding für den Button */
    font-size: 16px; /* Schriftgröße */
    font-weight: bold; /* Fetter Text */
    text-align: center; /* Textzentrierung */
}

.pill:hover {
    background-color: #A15F40; /* Etwas dunkler bei Hover */
    cursor: pointer; /* Zeigt den Pointer-Cursor an */
}
