<!-- html_navbar.html -->
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Wiener Schnitzler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projektDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Zum Projekt
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="projektDropdown">
                        <li><a class="dropdown-item" href="#">Zum Projekt</a></li>
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                        <li><a class="dropdown-item" href="#">Kontakt</a></li>
                        <li><a class="dropdown-item" href="#">Impressum</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="zeitDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Zeiträume
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="zeitDropdown">
                        <li><a class="dropdown-item" href="tag.html">Einzelne Tage</a></li>
                        <li><a class="dropdown-item" href="#">Monate</a></li>
                        <li><a class="dropdown-item" href="#">Jahre</a></li>
                        <li><a class="dropdown-item" href="#">Dekaden</a></li>                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>